<h1>NASA Big Data Mashups</h1>

<h2>Team Luke</h2>
<p>@Html.ActionLink("Distance from Sol of habitable exoplanets", ("LukeExoplanets"))</p>

<h2>Team Kit</h2>
@Html.ActionLink("Mars Temperatures", ("KitMaas"))

<h2>Team Mina</h2>
@Html.ActionLink("Exoplanet statistics", ("MinaExoplanets"))

<h2>And some more cool stuff</h2>
<p>@Html.ActionLink("Overlay of International Space Station location onto Google Earth (updates live)", "LukeGoogleEarth")</p>
<p>@Html.ActionLink("Overlay of exoplanets onto Google Sky (wait a few seconds for map to display, and zoom in to see planets)", "LukeGoogleSky")</p>